.popup__error{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}
.popup__error_user-exist{
    margin: 0 auto 8px;
}

