<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <meta name="description" content="News Explorer">
  <meta name="author" content="Shestakova Elena">
</head>

<body>
  <div class="root">
    <header class="header">

        <nav class="menu header__menu header__menu_white_mode">
            <img src="<%=require('../images/icons/NewsExplorer_black.svg').default%>" alt="logo" class="logo">
            <ul class="menu__list">
                <li class="menu__item"><a href="index.html" class="menu__link menu__link_white-mode">Главная</a></li>
                <li class="menu__item"><a href="articles.html" class="menu__link menu__link_white-mode">Сохраненные статьи</a></li>
                <li class="menu__item"><button class="button button_type_header-white">
                  <span class="button__text">Грета</span>
                  <img class="button__image" src="<%=require('../images/icons/logout_black.svg').default%>" alt=""></button></li>
            </ul>
        </nav>

        <nav class="mobile-menu">
          <img src="<%=require('../images/icons/NewsExplorer_black.svg').default%>" alt="logo" class="header__logo">
          <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
          <label for="checkbox" class="mobile-menu__btn mobile-menu__btn_white-mode"></label>
            <div class="mobile-menu__overlay"></div>
              <div class="mobile-menu__container">
              <ul class="menu__list mobile-menu__list">
                <li class="menu__item mobile-menu__item"><a href="index.html" class="menu__link mobile-menu__link">Главная</a></li>
                <li class="menu__item mobile-menu__item"><a href="articles.html" class="menu__link mobile-menu__link">Сохраненные статьи</a></li>
                <li class="menu__item">
                  <button class="button button_type_header">
                    <span class="button__text">Авторизоваться</span>
                    <img class="button__image" src="" alt="">
                  </button>
                </li>
              </ul>
            </div>
          </nav>

        <div class="saved root__section">
          <p class="saved__text">Сохранённые статьи</p>
          <h2 class="section-title">Грета, у вас 5 сохранённых статей</h2>
          <p class="saved__subtitle">По ключевым словам: <span class="saved__accent">Природа</span>, <span class="saved__accent">Тайга</span> и <span class="saved__accent">2 другим</span></p>
        </div>
    </header>


    <section class="articles root__section">
      <h3 class="section-title">Результаты поиска</h3>

      <div class="articles__container">
        <div class="article">
          <img src="<%=require('../images/cards/image_06.jpg').default%>" alt="" class="article__photo">
          <div class="article__content">
            <p class="article__date">2 августа, 2019</p>
            <h4 class="article__title">Национальное достояние – парки</h4>
            <p class="article__text">В 2016 году Америка отмечала важный юбилей:
            сто лет назад здесь начала складываться система национальных парков – охраняемых территорий,
            где и сегодня каждый может приобщиться к природе.</p>
            <p class="article__source">Лента.ру</p>
          </div>
          <div class="article__tag"><p class="article__tag-text">Природа</p></div>
          <button class="button article__tooltip article__tooltip_disabled"><p class="article__tooltip-text ">Убрать из сохранённых</p></button>
          <button class="button article__bookmark article__trash-image"></button>
        </div>

        <div class="article">
          <img src="<%=require('../images/cards/image_01.jpg').default%>" alt="" class="article__photo">
          <div class="article__content">
            <p class="article__date">2 августа, 2019</p>
            <h4 class="article__title">Лесные огоньки: история одной фотографии</h4>
            <p class="article__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного
                из местных чудес природы.</p>
            <p class="article__source">Медуза</p>
          </div>
          <div class="article__tag"><p class="article__tag-text">Природа</p></div>
          <button class="button article__tooltip "><p class="article__tooltip-text ">Убрать из сохранённых</p></button>
          <button class="button article__bookmark article__trash-image"></button>
        </div>

        <div class="article">
          <img src="<%=require('../images/cards/image_05.jpg').default%>" alt="" class="article__photo">
          <div class="article__content">
            <p class="article__date">2 августа, 2019</p>
            <h4 class="article__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h4>
            <p class="article__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
            <p class="article__source">Риа</p>
          </div>
          <div class="article__tag"><p class="article__tag-text">Тайга</p></div>
          <button class="button article__tooltip article__tooltip_disabled"><p class="article__tooltip-text ">Убрать из сохранённых</p></button>
          <button class="button article__bookmark article__trash-image"></button>
        </div>

        <div class="article">
          <img src="<%=require('../images/cards/image_06.jpg').default%>" alt="" class="article__photo">
          <div class="article__content">
            <p class="article__date">2 августа, 2019</p>
            <h4 class="article__title">Лесные огоньки: история одной фотографии</h4>
            <p class="article__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного
                из местных чудес природы.</p>
            <p class="article__source">Медуза</p>
          </div>
          <div class="article__tag"><p class="article__tag-text">Парки</p></div>
          <button class="button article__tooltip article__tooltip_disabled"><p class="article__tooltip-text ">Убрать из сохранённых</p></button>
          <button class="button article__bookmark article__trash-image"></button>
        </div>

        <div class="article">
          <img src="<%=require('../images/cards/image_01.jpg').default%>" alt="" class="article__photo">
          <div class="article__content">
            <p class="article__date">2 августа, 2019</p>
            <h4 class="article__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h4>
            <p class="article__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
            <p class="article__source">Риа</p>
          </div>
          <div class="article__tag"><p class="article__tag-text">Фотография</p></div>
          <button class="button article__tooltip article__tooltip_disabled"><p class="article__tooltip-text ">Убрать из сохранённых</p></button>
          <button class="button article__bookmark article__trash-image"></button>
        </div>
  </section>

  <footer class="footer">
    <p class="footer__copyrigth">© 2020 Supersite, Powered by News API</p>
    <nav class="menu menu_footer">
        <ul class="menu__list menu__list_footer">
            <li class="menu__item"><a href="index.html" class="menu__link menu__link_footer">Главная</a></li>
            <li class="menu__item"><a href="https://praktikum.yandex.ru/" target="_blank" class="menu__link menu__link_footer">Яндекс.Практикум</a></li>
          </ul>
          <ul class="menu__list">
            <li class="menu__item">
              <a href="https://github.com/ShestakovaElena/" target="_blank" class="menu__link">
                <img src="<%=require('../images/icons/github_icon.svg').default%>" alt="">
              </a>
            </li>
            <li class="menu__item">
              <a href="https://www.facebook.com/elena.shestakova.7/" target="_blank" class="menu__link">
                <img src="<%=require('../images/icons/fb_icon.svg').default%>" alt="">
              </a>
            </li>
          </ul>
    </nav>
</footer>

  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
