<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <meta name="description" content="News Explorer">
  <meta name="author" content="Shestakova Elena">
  <link rel="shortcut icon"  type="image/x-icon" href="<%=require('../images/favicon-32x32.png').default%>">


</head>

<body>
  <div class="root">
    <header class="header header_with-image">

      <nav class="menu header__menu">
            <img src="<%=require('../images/icons/NewsExplorer.svg').default%>" alt="logo" class="header__logo">
            <div class="menu__container">
            <ul class="menu__list">
                <li class="menu__item"><a href="index.html" class="menu__link">Главная</a></li>
                <li class="menu__item"><a href="articles.html" class="menu__link menu__link_articles">Сохраненные статьи</a></li>
                <li class="menu__item">
                  <button class="button button_type_header button-login">Авторизоваться</button>
                  <button class="button button_type_header button-logout" style='display: none'>Name</button>
                </li>
            </ul>
          </div>
        </nav>

      <nav class="mobile-menu">
        <img src="<%=require('../images/icons/NewsExplorer.svg').default%>" alt="logo" class="header__logo">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
        <label for="checkbox" class="mobile-menu__btn mobile-menu__btn_dark-mode"></label>
        <div class="mobile-menu__overlay"></div>
          <div class="mobile-menu__container">
          <ul class="menu__list mobile-menu__list">
            <li class="menu__item mobile-menu__item"><a href="index.html" class="menu__link mobile-menu__link">Главная</a></li>
            <li class="menu__item mobile-menu__item"><a href="articles.html" class="menu__link mobile-menu__link mobile-menu__link_articles">Сохраненные статьи</a></li>
            <li class="menu__item mobile-menu__item">
              <button class="button button_type_header button_mobile-menu-login">Авторизоваться</button>
              <button class="button button_type_header button_mobile-menu-logout" style='display: none'>Name</button>
            </li>
          </ul>
        </div>
        </nav>

        <div class="search root__section">
          <h2 class="search__title">Что в мире творится?</h2>
          <p class="search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
          <form class="search__form" name="search" novalidate>
            <div class="search__item">
              <input type="text" class="search__input" required minlength="2" maxlength="30" name="search" placeholder="Что вы хотите найти?">
              <span class="search__error"></span>
              <button type="submit" class="button button_type_search">Искать</button>
          </div>
          </form>

        </div>
    </header>


    <section class="articles root__section">

        <h3 class="section-title">Результаты поиска</h3>
        <div class="articles__container">

            <!--<div class="article">
              <a href="" target="_blank">
                <img src="<%=require('../images/cards/image_08.jpg').default%>" alt="article picture" class="article__photo">
                <div class="article__content">
                    <p class="article__date">2 августа, 2019</p>
                    <h4 class="article__title">Национальное достояние – парки</h4>
                    <p class="article__text">В 2016 году Америка отмечала важный юбилей:
                    сто лет назад здесь начала складываться система национальных парков – охраняемых территорий,
                    где и сегодня каждый может приобщиться к природе.</p>
                    <p class="article__source">Лента.ру</p>
                </div>
              </a>
              <button class="button article__tooltip">Войдите, чтобы сохранять статьи</button>
              <button class="button article__bookmark article__bookmark-image"></button>


            </div>



           -->

        </div>
        <button class="button button_type_articles">Показать еще</button>


        <div class="preloader root__section">
          <i class="preloader__circle"></i>
          <p class="preloader__text">Идет поиск новостей...</p>
        </div>

        <div class="no-results root__section">
          <img src="<%=require('../images/icons/not-found_v1.svg').default%>" alt="nothing is found" class="no-results__image">
          <h4 class="no-results__title">Ничего не найдено</h4>
          <p class="no-results__text">К сожалению по вашему запросу ничего не найдено.</p>

        </div>

        <div class="search-error root__section">
          <h4 class="no-results__title">Во время запроса произошла ошибка</h4>
          <p class="no-results__text">Возможно, проблема с соединением или сервер недоступен. Подождите немного и попробуйте ещё раз</p>

        </div>


    </section>
    <section class="author root__section">
        <div class="author__photo"><img class="author__photo-img" src="<%=require('../images/avatar/image-03.png').default%>" alt="author photo"></div>
        <div class="author__about">
            <h3 class="author__title">Об авторе</h3>
            <p class="author__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете</p>
            <p class="author__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
        </div>
    </section>

    <footer class="footer">
        <p class="footer__copyrigth">© 2020 Supersite, Powered by News API</p>
        <nav class="menu menu_footer">
            <ul class="menu__list menu__list_footer">
                <li class="menu__item"><a href="index.html" class="menu__link menu__link_footer">Главная</a></li>
                <li class="menu__item"><a href="https://praktikum.yandex.ru/" target="_blank" class="menu__link menu__link_footer">Яндекс.Практикум</a></li>
              </ul>
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="https://github.com/ShestakovaElena/" target="_blank" class="menu__link">
                    <img src="<%=require('../images/icons/github_icon.svg').default%>" alt="github icon">
                  </a>
                </li>
                <li class="menu__item">
                  <a href="https://www.facebook.com/elena.shestakova.7/" target="_blank" class="menu__link">
                    <img src="<%=require('../images/icons/fb_icon.svg').default%>" alt="fb icon">
                  </a>
                </li>
              </ul>
        </nav>
    </footer>



    <div class="popup popup_signin">
      <div class="popup__content">
        <img src="<%=require('../images/icons/back.svg').default%>" alt="close" class="popup__close">
        <h3 class="popup__title">Вход</h3>
        <form class="popup__form" name="signin" novalidate>
          <div class="popup__input-container">
            <span class="popup__input-name">Email</span>
            <input type="email" required minlength="2" maxlength="30" name="email" class="popup__input" placeholder="Введите почту">
            <span class="popup__error"></span>
          </div>
          <div class="popup__input-container">
            <span class="popup__input-name">Пароль</span>
            <input type="password" required minlength="2" maxlength="30" name="password" class="popup__input" placeholder="Введите пароль">
            <span class="popup__error"></span>
          </div>
            <span class="popup__error popup__error_server"></span>
            <button type="submit" class="button button_type_popup">Войти</button>
          </form>
            <span class="popup__text">или <button class="popup__link popup_btn_register" href="">Зарегистрироваться</button></span>

      </div>
    </div>

    <div class="popup popup_register">
      <div class="popup__content">
        <img src="<%=require('../images/icons/back.svg').default%>" alt="close" class="popup__close">
        <h3 class="popup__title">Регистрация</h3>
        <form class="popup__form" name="signup" novalidate>
          <div class="popup__input-container">
            <span class="popup__input-name">Email</span>
            <input type="email" required minlength="2" maxlength="30" name="email" class="popup__input" placeholder="Введите почту">
            <span class="popup__error"></span>
          </div>
          <div class="popup__input-container">
            <span class="popup__input-name">Пароль</span>
            <input type="password" required minlength="2" maxlength="30" name="password" class="popup__input" placeholder="Введите пароль">
            <span class="popup__error"></span>
          </div>
          <div class="popup__input-container">
            <span class="popup__input-name">Имя</span>
            <input type="text" required minlength="2" maxlength="30" name="name" class="popup__input" placeholder="Введите своё имя">
            <span class="popup__error"></span>
          </div>
            <span class="popup__error popup__error_server"></span>
            <button type="submit" class="button button_type_popup button_disabled">Зарегистрироваться</button>
        </form>
          <p class="popup__text">или <button class="popup__link popup_btn_signin" href="">Войти</button></p>

      </div>
    </div>

    <div class="popup popup_signed popup_is_active">
      <div class="popup__content">
        <img src="<%=require('../images/icons/back.svg').default%>" alt="close" class="popup__close">
        <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
        <button href="" class="popup__link_new-user popup_btn_success">Выполнить вход</button>
      </div>
    </div>

  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
